{
  "extends": "airbnb",
  "rules": {
    "padded-blocks": 0
    // "no-unused-expressions": [2, { "allowTernary": true, "allowShortCircuit": true }],
    // "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    // "max-len": ["error", 150],
    // "no-confusing-arrow": 0
  }
}