.container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.container, .container .OT_subscriber, .container .OT_publisher {
  overflow: hidden;
}

.container .OT_subscriber, .container .OT_publisher {
  float: left;
  width: 2px !important;
  height: 2px !important;
  min-width: 2px !important;
  max-width: 2px !important;
  min-height: 2px !important;
  max-height: 2px !important;
}

body {
  background: #eee;
  font-family: "Helvetica Neu", Arial;
  color: #666;
  padding: 0;
  margin: 0;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  display: block;
  font-weight: 200;
  padding: 0.6rem;
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
}

h1 small {
  color: #999;
}

div.prettyBox {
  box-sizing: border-box;
  padding: 1rem;
  display: none;

  margin: 0 auto;
  margin-top: 1rem;
  max-width: 90%;
  min-width: 60%;
  width: 600px;
  background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
  text-align: center;
}

div.prettyBox h2 {
  margin-top: 0;
  font-size: 18px;
}

div.prettyBox p {
  color: #999;
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  margin-bottom: 8px;
}

div.prettyBox .results {
  display: none;
}

h3 {
  font-size: 16px;
  margin-bottom: 6px;
}

div.prettyBox .results p {
  color: #333;
  font-weight: 200;
  font-size: 14px;
  margin: 0;
}

div.prettyBox .results :last-child {
  margin-bottom: 1rem;
}

div.prettyBox img {
  width: 50px;
}

#precall {
  display: block
}

#precall .options span {
  margin-left: 24px;
  font-size: 14px;
}

#precall .options {
  margin: 20px;
}

#precall button {
  font-family: "Helvetica Neu", Arial;
  font-size: 12px;
}

#quality_status_container {
  display: none;
  flex-direction: column;
  align-items: center;
}

#stop_test {
  margin-top: 8px;
  display: none;
}
#quality_status_container > div {
  display: flex;
  justify-content: center;
}

#quality_header {
  flex-direction: column;
  align-items: center;
}

#quality_status_container #audio, #quality_status_container #video {
  width: 50%;
}

.graph {
  height: 240px;
}

#quality_status_container .results {
  display: none;
  min-height: 96px
}

#video-unsupported-reason {
  display: none;
}

@media screen and (max-width: 380px) {
  h1 {
    font-size: 24px;
    padding: 0.5rem;
  }
  h2 {
    font-size: 18px;
  }
  div.prettyBox p {
    font-size: 20px;
  }
  div.prettyBox {
    padding: 1rem;
  }
}
